$blue: rgb(56, 135, 253);
$dark: rgb(98, 117, 145);
$darker: rgb(30, 24, 117);
$darker-transparent: rgba(23, 30, 92, 0.92);
$light: rgb(208, 223, 255);
$yellow: rgb(226, 191, 96);
$white: rgb(237, 247, 255);

/* Font */

.hero-lg {
  font-size: clamp(40px, 7vw, 80px);
}

.hero-md {
  font-size: clamp(20px, 4vw, 50px);
}

.text-md {
  font-size: 3rem;
}

.text-sm {
  font-size: 1.5rem;
}

.text-xs {
  font-size: 1.3rem;
}

.fw-700 {
  font-weight: 700;
}

.fw-300 {
  font-weight: 300;
}

.text-blue {
  color: $blue;
}

.secondary {
  color: $dark;
}

.yellow {
  color: $yellow;
}

.align-right {
  text-align: end;
}

@media screen and (max-width: 785px) {
  .align-right {
    text-align: start;
  }
}

/* App Layout */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 0 150px;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .content {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 50px;
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding: 0 25px;
  }
}

section {
  padding: 100px 0;
}

/* Navbar */
#navigation {
  padding: 20px;
  z-index: 1;
}

#navigation a.nav-link{
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

#navigation a.active, #navigation .nav-link:focus{
  border-bottom: 0.3rem solid rgb(0, 0, 0);
}

/* Hero Section */

#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#hero p {
  max-width: 600px;
}

/* About Section */

#about h2 {
  margin-bottom: 40px;
}

#about p {
  max-width: 600px;
  margin-right: 50px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  #about p {
    margin-right: 0;
  }
}

#about ul {
  width: 120px;
  list-style: none;
  margin-right: 20px;
  padding: 0;
}

/* Projects Section */

#projects h2 {
  padding-bottom: 40px;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.img-link {
  height: min(20vw, 300px);
}

.sample {
  height: min(20vw, 300px);
  border-bottom: 0.3rem solid $yellow;
}

.link_icon {
  height: 30px;
  margin-right: 5px;
}

.git_icon {
  height: 29px;
  margin-right: 5px;
}

.b-left {
  border-left: 0.3rem solid $blue;
}

.b-right {
  border-right: 0.3rem solid $blue;
}

#projects ul {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
}

.pos-right ul li {
  margin-left: 10px;
}

.pos-left ul li {
  margin-right: 10px;
}

#projects p {
  background-color: $darker;
  padding: 1.2rem;
  border-radius: 0.3rem;
  color: $white;
}

.pos-right {
  position: relative;
  right: 6rem;
}

.pos-left {
  position: relative;
  left: 6rem;
}

.project {
  margin-bottom: 100px;
}


@media screen and (max-width: 785px) {
  .sample {
    display: none;
  }

  .first {
    background-image: url('./images/keyboard-store.png');
    background-size: cover;
  }

  .second {
    background-image: url('./images/competitive-wordle.png');
    background-size: cover;
  }

  .project {
    padding: 40px;
    background-color: $light;
    background-blend-mode: overlay;
    color: $darker;
    border-left: 3px solid $blue;
    border-bottom: 3px solid $yellow;
    font-weight: 700;
  }

  #projects h3 {
    font-weight: 700;
  }

  #projects p {
    background-color: unset;
    color: unset;
    padding: 0;
  }
  
  .pos-right {
    position: static;
  }

  .pos-right ul li{
    margin-left: 0;
    margin-right: 10px;
  }

  .pos-left {
    position: static;
  }
}

/* contact */ 

#contact p {
  max-width: 600px;
  text-align: center;
}

#contact button {
  padding: 10px 20px;
  border: none;
  border-radius: 0.3rem;
  background-color: $darker;
  color: $white;
  font-weight: bolder;
}

/* Contact List */

#contact-list {
  list-style-type: none;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px
}

#contact-list img {
  width: 40px;
  margin-top: 15px;
}
