$blue: rgb(56, 135, 253);

/* Font */

.text-lg {
  font-size: 4rem;
  font-weight: 700;
}

.text-md {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-blue {
  color: $blue;
}

/* app */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
#navigation {
  padding: 20px;
  z-index: 1;
}

#navigation a.nav-link{
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: rgb(41, 41, 41);
}

#navigation a.active, #navigation .nav-link:focus{
  border-bottom: 0.3rem solid rgb(41, 41, 41);
  outline: none;
}

/* Content */

.content {
  padding: 0 150px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero Section */

#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#hero p {
  max-width: 600px;
}

/* About Section */

#about p {
  max-width: 1000px;
}
