$blue: rgb(56, 135, 253);

/* Navbar */
#navigation {
  padding: 20px;
  z-index: 1;
  height: 80px;
}

#navigation a.nav-link{
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: black;
}

#navigation a.nav-link:hover {
  transform: scale(1.1);
}

#navigation a.active, #navigation a:focus{
  border-bottom: 0.3rem solid rgb(218, 233, 89);
}

/* Content */

.content {
  padding: 0 150px;
  display: flex;
  justify-content: center;
}

/* Hero Section */

#hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

#hero div{
  max-width: 1000px;
}

#hero h1 {
  position: relative;
  right: 4px;
  font-size: 4rem;
  font-weight: 700;
  color: $blue;
}

#hero h2 {
  font-size: 3rem;
  font-weight: 700;
}

#hero h3 {
  font-size: 1.5rem;
}

#hero p {
  max-width: 600px;
}


